<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Perfil</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">Perfil</h3>
          <button class="btn btn-primary" [routerLink]="['/profiles/new']">
            Novo
          </button>
        </div>
        <div class="card-body">
          <table id="profilesTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="table-actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let profile of profiles">
                <td>{{profile.id}}</td>
                <td>{{profile.name}}</td>
                <td>
                  <button class="btn btn-sm btn-info" [routerLink]="['/profiles/edit', profile.id]">
                    Edit
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteProfile(profile.id!)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>