@import 'admin-lte/dist/css/adminlte.min.css';

.content-wrapper {
  min-height: calc(100vh - 57px);
}

.table-actions {
  width: 150px;
  text-align: center;
}

.btn {
  margin-right: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}